# Copy this the service file to /etc/systemd/system
[Unit]
Description=Exams Dynamic List Application

[Service]
ExecStart=/opt/exdlistapp/server/server.js
Restart=always
User=nobody
# NOTE: RHEL/Fedora/CentOS uses 'nobody', Debian/Ubuntu uses 'nogroup'
Group=nobody
Environment=PATH=/usr/bin/:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/exdlistapp/server

[Install]
WantedBy=multi-user.target
